.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;

  width: 55px;
  height: 55px;

  border: none;
  border-radius: 50%;

  cursor: pointer;

  font-size: 22px;

  background: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--card-border);
  backdrop-filter: blur(12px);

  transition: .3s;

  z-index: 999;
}

.theme-toggle:hover {
  transform: rotate(180deg);
}